.chat-bar-collapsible {
	position: fixed;
	bottom: 0;
	right: 50px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0,2) ;
	}

.collapsible {
	background-color: rgb(82, 151, 255);
	color: white;
	cursor: pointer;
	padding: 25px;
	width: 500px;
	text-align: left;
	outline: none;
	font-size: 18px;
	border-radius: 10 px 10pz 0px 0px;
	border: 3px solid white;
	border-bottom: none;
	}

.content{
	max-height: 0;
	overflow: hidden;
	transition: max-heigh 0.2s ease-out;
	background-color: #f1f1f1; 
	overflow-x: hidden;
	overflow-y: auto;
	}

.full_chat_block {
	width: 350px;
	background: white;
	text-align: center;
	overflow: auto;
	height: max-content;
	transition: max-height 0.2s ease-out;
	}

.outer-container{
	min-height: 500px;
	bottom: 0%;
	position: relative;
	}

.chat-container {
	max-height: 500px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	scroll-behavior: smooth;
	hyphens: auto;
	}

.bot-response-quick-replies	{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: inherit;
	font-family: Cambria;
	text-align: left;
}


.single-button-1 {
 	width: 70%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #FCFAF9;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    font-family: Sarabun;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #240365;
    padding-left: 2px;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: left;
    z-index: 999;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: left;
}

.single-button-2 {
 	width: 70%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #FCFAF9;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    font-family: Sarabun;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #240365;
    padding-left: 2px;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: left;
    z-index: 999;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: auto;
}

.single-button-3 {
 	width: 70%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #FCFAF9;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    font-family: Sarabun;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #240365;
    padding-left: 2px;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: left;
    z-index: 999;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: left;
}

.single-button-4 {
 	width: 70%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #FCFAF9;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    font-family: Sarabun;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #240365;
    padding-left: 2px;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: left;
    z-index: 999;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: left;
}


.quick-relies-text{
 	width: 70%;
    max-width: 400px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #e0e0e9;
    border-bottom-left-radius: 2px;
    margin-left: 10px;
    text-align: left;
}
.quick-replies-botton {
	width: 100%;
	justify-content: left;
	margin-top: 15px;
	
}

.chat-container:: -webkit-scrollbar{
	display: none;
	}

.chat-bar-input-block {
	display: flex;
	float: left;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	background-color: rgb(235, 235, 235);
	border-radius: 10px 10px 0px 0px;
	padding: 10px 0px 10px 10px;
	}

.chat-bar-icon {
	display: flex;
	justify-content:  space-between;
	box-sizing: border-box;
	width: 25%;
	float: right;
	font-size: 20px;
	}

#chat-icon: hover {
	opacity: .7;
	}

/* chat buddles */

#userInput {
	width: 90%;
	}

.input-box {
	float: left;
	border: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	color: #000;
	background-color: white;
	outline: none;
	}

.userText {
	color: #000000;
	font-family: Cambria;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	clear: both;
	}

.userText span{
	line-height: 1.5em;
	display: inline-block;
	backgroud: #000000;
	padding: 10px;
	border-radius: 8px;
	border-bottom-right-radius: 2px;
	max-width: 80%;
	margin-right: 10px;
	animation: floatup .5s forwards
	}

.botText{
	color: #000;
	font-family: Helvetiva;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	}

.botText span{
	line-height: 1.5em;
	display: inline-block;
	background: #e0e0e9;
	padding: 10px;
	border-radius: 8px;
	border-bottom-left-radius: 2px;
	max-width: 80%;
	margin-left: 10px;
	animation: floatup .5s forwards
	}

.link-tuvan-fix {
    width: 100%;
    max-width: 400px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #3fddfe;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Sarabun;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #240365;
    padding-left: 2px;
    margin-right: 15px;
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    text-transform: uppercase;
}


.chat-icon p {
    font-size: 22px;
    font-family: "Sarabun";
    color: yellow;
    font-weight: 400;
    background: transparent url(chatbot3.jpg) no-repeat 20px 0;
    padding-left: 60px;
    margin-bottom: 20px;
}

@keyframes floatup{
	from {
		transform: translateY(14px);
		opacity: .0;
		}
	to {
		transform: translateY(0px);
		opacity: 1;
		}
	}

@media screen and (max-with: 600px) {
	.full-chat-block {
		width: 100%;
		border-radius: 0px;
		}
	.chat-bar-collapsible{
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		}
	.collapsibale {
		width: 100%;
		border: 0px;
		border-top: 3px solid white;
		border-radius: 0px;
		}
	}
